# indentation matters or the yaml file won't work. He mentions that way way later on
# This is used only as part of the CI/CD pipeline set up. I just decided to include
# This anyway, but I never signed myself up with Travis
# Anytime we are making use of Docker, we need to establish super user permissions
sudo: required
language: generic
# will load a copy of docker into our running container
services:
  - docker
# run commands before our test run, such as to build the Docker image
before_install:
  - docker build -t react-test -f ./client/Dockerfile.dev ./client
# the commands that need to be executed to run the test suite
# the key words -e CI=true, keeps the build progress from hanging 
# on the test run feedback (regarding options you can do). We want travis to proceed
script:
  - docker run -e CI=true react-test npm test
after success:
  # build images 
  - docker build -t cjmarek/my-first-repo:multi-client ./client
  - docker build -t cjmarek/my-first-repo:multi-nginx ./nginx
  - docker build -t cjmarek/my-first-repo:multi-server ./server
  - docker build -t cjmarek/my-first-repo:multi-worker ./worker
  # Log in to the docker CLI
  # These credentials were established a long time ago when we first installed docker. I have the username and password in my PHONES.txt.
  # That means our docker client is already associated with our docker hub account.
  # So for any images we pushed to docker hub, those images are already associated to my account.
  # To supply $DOCKER_PASSWORD" "$DOCKER_ID" from the following command line, You will set these up as environmental variables on the Travis site.
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub
  - docker push cjmarek/my-first-repo:multi-client
  - docker push cjmarek/my-first-repo:multi-nginx
  - docker push cjmarek/my-first-repo:multi-server
  - docker push cjmarek/my-first-repo:multi-worker

# This only kicks in whenever the MASTER branch is updated, commits to any feature branch have no effect. Pull requests that succeed to merge to master get us here
# Grider did a push origin master only to demonstrate getting here by updating the master branch that way.
deploy:
provider: elasticbeanstalk
region: "us-east-1"
app: "multi-docker"
env: "MultiDocker-env"
bucket_name: "elasticbeanstalk-us-east-1-923445559289"
bucket_path: "docker-multi"
on:
  branch: main
access_key_id: $AWS_ACCESS_KEY
secret_access_key: $AWS_SECRET_KEY


